<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label">币种</label>
            <div class="layui-input-block">
                <select name="coin_id" lay-verify="required" data-select="{:url('block.coin/index')}"
                        data-fields="id,title" data-value="{$row.cate_id|default=''}">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链</label>
            <div class="layui-input-block">
                <select name="coin_id" lay-verify="required" data-select="{:url('block.chain/index')}"
                        data-fields="id,title" data-value="{$row.chain_id|default=''}">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合约地址</label>
            <div class="layui-input-block">
                <input type="text" name="contract_address" class="layui-input" placeholder="请输入合约地址" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合约排序</label>
            <div class="layui-input-block">
                <input type="number" name="sort" class="layui-input" placeholder="请输入币种排序" value="{$row.sort|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>
