/.idea
/.vscode
*.log
.user.ini
*/.user.ini
/public/.user.ini
config/install/lock/install.lock
*/upload/*
*/Upload/*
/public/docs
/runtime
*/*.exe
app/index/controller/Test.php
composer.phar
app/test/
vendor
*/.DS_Store
composer.lock