<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('management.member.member_list/add')}"
               data-auth-edit="{:auth('management.member.member_list/edit')}"
               data-auth-updateMobile="{:auth('management.member.member_list/updateMobile')}"
               data-auth-delete="{:auth('management.member.member_list/delete')}"
               data-auth-stock="{:auth('management.member.member_list/stock')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>