<form id="app-form" class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图一</label>
        <div class="layui-input-block layuimini-upload">
            <input type="text" name="group" class="layui-input" lay-verify="required" value="site" style="display:none">
            <input type="text" name="name" class="layui-input" lay-verify="required" value="rotation"
                   style="display:none">
            <input name="rotation0" class="layui-input layui-col-xs6" lay-verify="required" placeholder="请上传轮播图一"
                   value="{:get_config('site','rotation','rotation')[1]}">
            <div class="layuimini-upload-btn">
                <span><a class="layui-btn" data-upload="rotation0" data-upload-number="one"
                         data-upload-exts="ico|png|jpg|jpeg"><i class="fa fa-upload"></i> 上传</a></span>
                <span><a class="layui-btn layui-btn-normal" id="select_rotation0" data-upload-select="rotation0"
                         data-upload-number="one"><i class="fa fa-list"></i> 选择</a></span>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图二</label>
        <div class="layui-input-block layuimini-upload">
            <input name="rotation1" class="layui-input layui-col-xs6" lay-verify="required" placeholder="请上传轮播图一"
                   value="{:get_config('site','rotation','rotation')[2]}">
            <div class="layuimini-upload-btn">
                <span><a class="layui-btn" data-upload="rotation1" data-upload-number="one"
                         data-upload-exts="ico|png|jpg|jpeg"><i class="fa fa-upload"></i> 上传</a></span>
                <span><a class="layui-btn layui-btn-normal" id="select_rotation1" data-upload-select="rotation1"
                         data-upload-number="one"><i class="fa fa-list"></i> 选择</a></span>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图三</label>
        <div class="layui-input-block layuimini-upload">
            <input name="rotation2" class="layui-input layui-col-xs6" lay-verify="required" placeholder="请上传轮播图一"
                   value="{:get_config('site','rotation','rotation')[3]}">
            <div class="layuimini-upload-btn">
                <span><a class="layui-btn" data-upload="rotation2" data-upload-number="one"
                         data-upload-exts="ico|png|jpg|jpeg"><i class="fa fa-upload"></i> 上传</a></span>
                <span><a class="layui-btn layui-btn-normal" id="select_rotation2" data-upload-select="rotation2"
                         data-upload-number="one"><i class="fa fa-list"></i> 选择</a></span>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">切片图</label>
        <div class="layui-input-block layuimini-upload">
            <input name="slice" class="layui-input layui-col-xs6" lay-verify="required" placeholder="请上传轮播图一"
                   value="{:get_config('site','rotation','slice')}">
            <div class="layuimini-upload-btn">
                <span><a class="layui-btn" data-upload="slice" data-upload-number="one"
                         data-upload-exts="ico|png|jpg|jpeg"><i class="fa fa-upload"></i> 上传</a></span>
                <span><a class="layui-btn layui-btn-normal" id="select_slice" data-upload-select="slice"
                         data-upload-number="one"><i class="fa fa-list"></i> 选择</a></span>
            </div>
        </div>
    </div>

    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="system.config/save"
                data-refresh="false">确认
        </button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
    </div>

</form>