<form class="layui-form layuimini-form" id="app-form">
    <div class="layui-form-item">
        <input class="layui-input" lay-verify="required" name="group" style="display:none" type="text" value="tron">
        <input class="layui-input" lay-verify="required" name="name" style="display:none" type="text" value="tron">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">归集地址</label>
        <div class="layui-input-block">
            <input class="layui-input" name="gather_address" placeholder="归集地址" type="text"
                   value="{:get_config('tron','tron','gather_address')}">
            <tip>归集地址。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">提现地址</label>
        <div class="layui-input-block">
            <input class="layui-input" name="withdraw_address" placeholder="提现地址" type="text"
                   value="{:get_config('tron','tron','withdraw_address')}">
            <tip>提现地址。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">提现公钥</label>
        <div class="layui-input-block">
            <input class="layui-input" name="withdraw_publicKey" placeholder="提现公钥" type="text"
                   value="{:get_config('tron','tron','withdraw_publicKey')}">
            <tip>提现公钥。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">提现私钥</label>
        <div class="layui-input-block">
            <input class="layui-input" name="withdraw_privateKey" placeholder="提现私钥" type="text"
                   value="{:get_config('tron','tron','withdraw_privateKey')}">
            <tip>提现私钥。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">实时区块</label>
        <div class="layui-input-block">
            <input class="layui-input" name="block" placeholder="实时区块" type="number"
                   value="{:get_config('tron','tron','block')}">
            <tip>实时区块。</tip>
        </div>
    </div>

    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn layui-btn-normal layui-btn-sm" data-refresh="false" lay-submit="system.config/save"
                type="submit">确认
        </button>
        <button class="layui-btn layui-btn-primary layui-btn-sm" type="reset">重置</button>
    </div>

</form>